<div class="container-fluid">
    <div class="row min-vh-100 d-flex justify-content-center mt-5">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card text-white border-secondary bg-light">
                <div class="card-body text-dark">
                    <div class="card-header bg-secondary text-light d-flex justify-content-center">
                        <h4 class="card-title">Registro de Usuario</h4>
                    </div>

                    <!-- formulario de registro -->
                    <form [formGroup]="registerForm"
                        (ngSubmit)="onRegister()"
                        autocomplete="off">
                        <div class="form-floating m-3">
                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                        class="form-control"
                                        id="floatingUsername"
                                        placeholder="Username"
                                        required
                                        formControlName="userName">
                                    <label for="floatingUsername">Username</label>
                                    <span *ngIf="isValidField('userName')"
                                        class="form-text text-danger">
                                        {{ getErrorMessage('userName') }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="email"
                                        class="form-control"
                                        id="floatingEmail"
                                        placeholder="name@example.com"
                                        required
                                        formControlName="email">
                                    <label for="floatingEmail">Email address</label>
                                    <span *ngIf="isValidField('email')"
                                        class="form-text text-danger">
                                        {{ getErrorMessage('email') }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                        class="form-control"
                                        id="floatingPhone"
                                        placeholder="Phone"
                                        required
                                        formControlName="phone"
                                        [imask]="{ mask: '0000-0000' }">
                                    <label for="floatingPhone">Phone</label>
                                    <span *ngIf="isValidField('phone')"
                                        class="form-text text-danger">
                                        {{ getErrorMessage('phone') }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="ageRange">Age Range</label>
                                <ngx-slider [options]="ageRangeOptions"
                                    [(value)]="minAge"
                                    [(highValue)]="maxAge"
                                    (valueChange)="onAgeRangeChange()"
                                    (highValueChange)="onAgeRangeChange()">
                                </ngx-slider>
                                <input type="hidden"
                                    formControlName="ageRange" />
                                <span *ngIf="isValidField('ageRange')"
                                    class="form-text text-danger">
                                    {{ getErrorMessage('ageRange') }}
                                </span>
                            </div>

                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="password"
                                        class="form-control"
                                        id="floatingPassword"
                                        placeholder="Password"
                                        required
                                        formControlName="password">
                                    <label for="floatingPassword">Password</label>
                                    <span *ngIf="isValidField('password')"
                                        class="form-text text-danger">
                                        {{ getErrorMessage('password') }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="password"
                                        class="form-control"
                                        id="floatingConfirmPassword"
                                        placeholder="Confirm Password"
                                        required
                                        formControlName="confirmPassword">
                                    <label for="floatingConfirmPassword">Confirm Password</label>
                                    <span *ngIf="isValidField('confirmPassword')"
                                        class="form-text text-danger">
                                        {{ getErrorMessage('confirmPassword') }}
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit"
                                class="btn btn-outline-secondary"><i class="bi bi-door-open"></i>Registrar</button>
                        </div>
                    </form>

                    <div class="text-right d-flex justify-content-end">
                        <a routerLink="/auth/login"
                            class="btn btn-link">Login</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>